{% extends 'base.html.twig' %}

{% block body %}
<article class="article-large-block">
  <h1>About</h1>
  <div  style="display:flex;flex-direction:row;margin:auto;">
    <img src="{{ asset('img/library1.jpg') }}" style="width:300px;height:300px;"/>
    <div style="margin:20px;">
      <p>The NPIC Library is located at the right of the bottom floor of the Building 2 (Lectures).</p>
      <p>There are approximately 15.000 books available, but also a few hundreds of some others medias, like CDs, DVDs, VCDs, etc ...</p>
      <p>The NPIC Library is open from 8am to 11am & 1pm to 4pm from Monday to Friday included.</p>
      <p>All the documents can be consulted at the library, and most of the books can be borrowed away (and booked on this website).</p>
    </div>
    <img src="{{ asset('img/library2.jpg') }}" style="width:300px;height:300px;"/>
  </div>
</article>
{% endblock %}
