{% extends 'base.html.twig' %}

{% block body %}
<article class="article-text-block">
  <h1>How to</h1>
  <div class="faq-block">
    <p>
      How do I get an account ?
    </p>
    <p>
      You have to fill the form available at the library. Once done, you can use the following credentials to log in for the first time :
    </p>
      <ul>
	<li>Username = NPIC ID</li>
	<li>Password = "npic" followed by your date of birth in the ddmmyyyy pattern (drop the first 0 if your birth day is less than 10)</li>
      </ul>
  </div>
  <div class="faq-block">
    <p>
      How many books can I borrow at once ?
    </p>
    <p>
      You can have at any time a maximum of 2 books borrowed.
    </p>
  </div>
  <div class="faq-block">
    <p>
      How long can I keep a book I borrowed ?
    </p>
    <p>
      You can keep any item you borrowed for up to 2 weeks.
    </p>
  </div>
</article>
{% endblock %}
