
{% extends 'base.html.twig' %}

{% block body %}
<article class="article-text-block">
  <h2>Control Panel</h2>
  <div class="InputAddOn">	
    <a href="/admin/checkAllUser"><button class="InputAddOn-item">Member list</button></a>
  </div>
  <div class="InputAddOn">	
    <a href="/admin/checkAllLibs"><button class="InputAddOn-item">Librarian list</button></a>
  </div>
  <div class="InputAddOn">	
    <a href="/admin/general_infos"><button class="InputAddOn-item">General informations</button></a>
  </div>
  <div class="InputAddOn">	
    <a href="/item/create"><button class="InputAddOn-item">Add a new item</button></a>
  </div>
  <div class="InputAddOn">	
    <a href="/admin/add_user"><button class="InputAddOn-item">Add a new user</button></a>
  </div>
  <div class="InputAddOn">	
    <a href="/admin/add_admin"><button class="InputAddOn-item">Add a new administrator</button></a>
  </div>
  <div class="InputAddOn">	
    <a href="/admin/checkBookings"><button class="InputAddOn-item">Check all bookings</button></a>
  </div>
  <div class="InputAddOn">	
    <a href="/admin/checkLogs"><button class="InputAddOn-item">Logs list</button></a>
  </div>
</article>
{% endblock %}
