
{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="col-xs-12 col-md-8 center-block">
    <h2>Control Panel</h2>
    <div class="form-group col-md-6 col-xs-12">
      <div class="input-group">	
	<a href="/admin/checkAllUser"><button class="btn btn-primary">Member list</button></a>
      </div>
    </div>
    <div class="form-group col-md-6 col-xs-12">
      <div class="input-group">	
	<a href="/admin/checkAllLibs"><button class="btn btn-primary">Librarian list</button></a>
      </div>
    </div>
    <div class="form-group col-md-6 col-xs-12">
      <div class="input-group">
	<a href="/admin/general_infos"><button class="btn btn-primary">General informations</button></a>
      </div>
    </div>
    <div class="form-group col-md-6 col-xs-12">
      <div class="input-group">	
	<a href="/item/create/add/null"><button class="btn btn-primary">Add a new item</button></a>
      </div>
    </div>
    <div class="form-group col-md-6 col-xs-12">
      <div class="input-group">	
	<a href="/admin/add_user/add/null"><button class="btn btn-primary">Add a new user</button></a>
      </div>
    </div>
    <div class="form-group col-md-6 col-xs-12">
      <div class="input-group">	
	<a href="/admin/add_admin/add/null"><button class="btn btn-primary">Add a new administrator</button></a>
      </div>
    </div>
    <div class="form-group col-md-6 col-xs-12">
      <div class="input-group">	
	<a href="/admin/checkBookings"><button class="btn btn-primary">Check all bookings</button></a>
      </div>
    </div>
    <div class="form-group col-md-6 col-xs-12">
      <div class="input-group">	
	<a href="/admin/checkLogs"><button class="btn btn-primary">Logs list</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
