{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="col-xs-12 col-md-8 center-block">
    <h1>Disable form</h1>
    <form action="/admin/disable_user/{{code}}" method="post">
      <div class="form-control">
	<div class="input-group">
	  <div class="input-group-addon">Disable reason</div>
	  <input class="form-control" name="reason" type="text">
	</div>
	<input type="hidden" name="flag" value="true">
	<div class="input-group">
	  <button class="btn btn-primary" type="submit">Submit</button>
	</div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
