
{% extends 'base.html.twig' %}

{% block body %}
<article class="article-text-block">
  <h2>General infos</h2>
  <div class="InputAddOn">	
    <button class="InputAddOn-item">Member list</button></a>
  </div>
</article>
{% endblock %}
