
{% extends 'base.html.twig' %}

{% block body %}
<article class="article-text-block">
  <h1>My account</h1>
  <div class="InputAddOn">
    <a href="/user/bookings"><button class="InputAddOn-item">Check my bookings</button></a>
    <a href="/user/changepass"><button class="InputAddOn-item">Change my password</button></a>
  </div>
</article>
{% if app.session.has('admin') %}

{% endif %}
{% endblock %}
