
{% extends 'base.html.twig' %}

{% block body %}
<div class="table">
    <div class="row header">
      <div class="cell">
        Transaction ID
      </div>
      <div class="cell">
        Item title
      </div>
      <div class="cell">
        Borrow date
      </div>
      <div class="cell">
        Details
      </div>
    </div>
	{% for item in bookings %}
	<div class="row">
		<div class="cell">
			{{item.code}}
		</div>
		<div class="cell">
			{{item.title}}
		</div>
		<div class="cell">
			{{item.borrow_date}}
		</div>
		<div class="cell">
			<p> insert button </p>
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}