{% extends 'base.html.twig' %}

{% block body %}
{{ parent () }}
<article class="article-text-block">
  <h1>Password update</h1>
  <form method="post" id="changePassForm" action="/user/changedpass" class="login-block">
    <div class="InputAddOn">
      <div class="InputAddOn-item">Current password</div>
      <input class="InputAddOn-field" name="curpass" type="password">
    </div>
    <div class="InputAddOn">
      <div class="InputAddOn-item">New password</div>
      <input class="InputAddOn-field" name="newpass" type="password">
    </div>
    <div class="InputAddOn">
      <div class="InputAddOn-item">Repeat password</div>
      <input class="InputAddOn-field" name="newpassbis" type="password">
    </div>
    <div class="InputAddOn submit-login">
      <button class="InputAddOn-item" type="submit">Submit</button>
    </div>
  </form>
</article>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/ajax.js') }}"></script>
{% endblock %}