
{% extends 'base.html.twig' %}

{% block body %}
<article class="article-text-block">
  <h2>You have successfully logged in</h2>
  <p>You can now access your account, change your password (important if it's your first login), & book items !</p>
  <p>Check out the "How to" page to learn about the functionment of the website!</p>
</article>
{% endblock %}
