
{% extends 'base.html.twig' %}

{% block body %}
 <form action="/user/loggedin" method="post" class="login-block">
  <div class="InputAddOn">
    <div class="InputAddOn-item">Username</div>
    <input class="InputAddOn-field" name="Username">
  </div>
  <div class="InputAddOn">
    <div class="InputAddOn-item">Password</div>
    <input class="InputAddOn-field" type="password" name="Password">
  </div>
  <div class="InputAddOn submit-login">
    <button class="InputAddOn-item" type="submit">Submit</button>
  </div>
 </form>
{% endblock %}
