
{% extends 'base.html.twig' %}

{% block body %}
 <form action="/user/loggedin" method="post" class="login-block">
  <div class="InputAddOn">
    <button class="InputAddOn-item">Username</button>
    <input class="InputAddOn-field">
  </div>
  <div class="InputAddOn">
    <button class="InputAddOn-item">Password</button>
    <input class="InputAddOn-field">
  </div>
  <div class="InputAddOn submit-login">
    <button class="InputAddOn-item" type="submit">Submit</button>
  </div>
</form>
{% endblock %}
