
{% extends 'base.html.twig' %}

{% block body %}
<div class="login-block">
  <div class="InputAddOn">
    <button class="InputAddOn-item">Username</button>
    <input class="InputAddOn-field">
  </div>
  <div class="InputAddOn">
    <button class="InputAddOn-item">Password</button>
    <input class="InputAddOn-field">
  </div>
  <div class="InputAddOn submit-login">
    <button class="InputAddOn-item">Submit</button>
  </div>
</div>
{% endblock %}
