{% extends 'base.html.twig' %}

{% block body %}

<p style="margin:auto;font-size:40px;">

  The member {{ memb_id }} booked the item {{ item_id }}.
  The transaction number {{ trans_id }} has been created.
  
  The NPIC Library.
</p>

{% endblock %}
