{% extends 'base.html.twig' %}

{% block body %}

<p style="margin:auto;font-size:40px;">

  Your registration succeeded, here are your credentials:
  <ul>
    <li>Username : {{username}}</li>
    <li>Password : {{password}}</li>
  </ul>
  Please change your password once logged in.

  The NPIC Library.
</p>

{% endblock %}
