{% extends 'base.html.twig' %}

{% block body %}
<article class="article-text-block">
  <h1>Add new (unique) item</h1>
  <form action="/item/added" method="post" class="big-form">
    <div class="InputAddOn">
      <div class="InputAddOn-item" for="code">Code (blank if unknown) :</div>
      <input type="text" id="code" name="code" class="InputAddOn-field"/>
    </div><div class="InputAddOn">
      <div class="InputAddOn-item" for="sname">Short name :</div>
      <input type="text" id="sname" name="shortname" class="InputAddOn-field" />
    </div><div class="InputAddOn">
      <div class="InputAddOn-item" for="lname">Long name :</div>
      <input type="text" id="lname" name="longname" class="InputAddOn-field" />
    </div><div class="InputAddOn">
      <div class="InputAddOn-item" for="author">Author :</div>
      <input type="text" id="author" name="author" class="InputAddOn-field" />
    </div><div class="InputAddOn">
      <div class="InputAddOn-item" for="dop">Publication year :</div>
      <input type="number" id="dop" name="publication" class="InputAddOn-field" />
    </div><div class="InputAddOn">
      <div class="InputAddOn-item" for="editor">Editor :</div>
      <input type="text" id="editor" name="editor" class="InputAddOn-field" />
    </div><div class="InputAddOn">
      <div class="InputAddOn-item" for="categ">Category :</div>
      <select id="categ" name="category" class="InputAddOn-field">
	<option selected>TODO from db</option>
      </select>
    </div>
	<div class="InputAddOn">
      <div class="InputAddOn-item" for="lang">Language :</div>
      <select id="lang" name="language" class="InputAddOn-field">
		<option selected>Khmer</option>
		<option>English</option>
		<option>Korean</option>
		<option>French</option>
		<option>Japanese</option>
		<option>Chinese</option>
      </select>
    </div>
	<div class="InputAddOn">
      <div class="InputAddOn-item" for="type">Type :</div>
      <select id="type" name="type" class="InputAddOn-field">
		<option selected>Book</option>
		<option>CD</option>
		<option>DVD</option>
		<option>VCD</option>
      </select>
    </div>
	<div class="InputAddOn">
      <div class="InputAddOn-item" for="bookable">Bookable :</div>
      <div class="InputAddOn-field"><input type="checkbox" id="bookable" name="bookable" /></div>
    </div>
	<div class="InputAddOn">
      <div class="InputAddOn-item" for="cost">Cost (USD $) :</div>
      <input type="number" step="0.01" min="0" id="cost" name="cost" class="InputAddOn-field" />
    </div>
	<div class="InputAddOn">
      <div class="InputAddOn-item" for="isbn">ISBN (optional) :</div>
      <input type="number" id="isbn" name="isbn" class="InputAddOn-field" />
    </div>
	<div class="InputAddOn submit-login">
      <button type="submit" class="InputAddOn-item">Submit</button>
    </div>
  </form>
</article>
{% endblock %}
